.ui-autocomplete {
    max-height: 200px;
    overflow-y: scroll;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 200px;
}
.ui-autocomplete-input
{
    width: 400px;
}
#progressbar {
    width: 130px;
    height: 10px;
}
.invalid-input { color: red;}
.valid-input { color: green;}