<?xml version="1.0" encoding="UTF-8"?>

<web-app id="Miriam_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>MiriamResources</display-name>
	
  <context-param>
  	<param-name>version</param-name>
  	<param-value>main</param-value>
  </context-param>
  
	<context-param>
  	<param-name>email</param-name>
  	<param-value>laibe@ebi.ac.uk</param-value>
  </context-param>
	
  <context-param>
  	<param-name>www</param-name>
  	<param-value>http://www.ebi.ac.uk/compneur-srv/miriam/main/</param-value>
  </context-param>
	
	<context-param>
  	<param-name>exportDir</param-name>
  	<param-value>/ebi/research/compneur/biomodels/SERVER-MAIN/jakarta-tomcat-5.0.28/webapps/compneur-srv/miriam-main/export/</param-value>
  </context-param>
	
  <context-param>
  	<param-name>webServicesEndpoint</param-name>
  	<param-value>http://www.ebi.ac.uk/compneur-srv/miriamws-main/MiriamWebServices</param-value>
  </context-param>
	
  <context-param>
  	<param-name>miriam_db_type</param-name>
  	<param-value>jdbc:mysql</param-value>
  </context-param>
  
  <context-param>
  	<param-name>miriam_db_driver</param-name>
  	<param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  
  <context-param>
  	<param-name>miriam_db_server</param-name>
  	<param-value>web62-node2</param-value>
  </context-param>
  
  <context-param>
  	<param-name>miriam_db_port</param-name>
  	<param-value>4030</param-value>
  </context-param>
  
  <context-param>
  	<param-name>miriam_db_database</param-name>
  	<param-value>MIRIAM-main</param-value>
  </context-param>
  
  <context-param>
  	<param-name>miriam_db_user</param-name>
  	<param-value>camille</param-value>
  </context-param>
  
  <context-param>
  	<param-name>miriam_db_password</param-name>
  	<param-value>cam1</param-value>
  </context-param>
  
  <context-param>
  	<param-name>miriam_db_pool</param-name>
  	<param-value>MiriamDB</param-value>
  </context-param>
  
  <context-param>
  	<param-name>biomodels_db_type</param-name>
  	<param-value>jdbc:mysql</param-value>
  </context-param>
  
  <context-param>
  	<param-name>biomodels_db_driver</param-name>
  	<param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  
  <context-param>
  	<param-name>biomodels_db_server</param-name>
  	<param-value>web62-node2</param-value>
  </context-param>
  
  <context-param>
  	<param-name>biomodels_db_port</param-name>
  	<param-value>4030</param-value>
  </context-param>
  
  <context-param>
  	<param-name>biomodels_db_database</param-name>
  	<param-value>BioModels-main</param-value>
  </context-param>
  
  <context-param>
  	<param-name>biomodels_db_user</param-name>
  	<param-value>camille</param-value>
  </context-param>
  
  <context-param>
  	<param-name>biomodels_db_password</param-name>
  	<param-value>cam1</param-value>
  </context-param>
  
  <servlet>
  	<description>Miriam Web Engine</description>
  	<display-name>WebEngine</display-name>
  	<servlet-name>WebEngine</servlet-name>
  	<servlet-class>uk.ac.ebi.miriam.web.WebEngine</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WebEngine</servlet-name>
  	<url-pattern>/mdb</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>Miriam Sign In</description>
  	<display-name>SignIn</display-name>
  	<servlet-name>SignIn</servlet-name>
  	<servlet-class>uk.ac.ebi.miriam.web.ServletSignIn</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignIn</servlet-name>
  	<url-pattern>/signIn</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>Miriam Sign Out</description>
  	<display-name>SignOut</display-name>
  	<servlet-name>SignOut</servlet-name>
  	<servlet-class>uk.ac.ebi.miriam.web.ServletSignOut</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignOut</servlet-name>
  	<url-pattern>/signOut</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>Miriam Password Reminder</description>
  	<display-name>PassReminder</display-name>
  	<servlet-name>PassReminder</servlet-name>
  	<servlet-class>uk.ac.ebi.miriam.web.ServletPassReminder</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PassReminder</servlet-name>
  	<url-pattern>/passReminder</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>Miriam Database Browse</description>
  	<display-name>DbBrowse</display-name>
  	<servlet-name>DbBrowse</servlet-name>
  	<servlet-class>uk.ac.ebi.miriam.web.ServletDbBrowse</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DbBrowse</servlet-name>
  	<url-pattern>/dbBrowse</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>Miriam Data-type Complete Information</description>
  	<display-name>DataTypeInfo</display-name>
  	<servlet-name>DataTypeInfo</servlet-name>
  	<servlet-class>uk.ac.ebi.miriam.web.ServletDataTypeInfo</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DataTypeInfo</servlet-name>
  	<url-pattern>/dataTypeInfo</url-pattern>
  </servlet-mapping>
	
  <servlet>
  	<description>Adds a new data-type to MIRIAM database</description>
  	<display-name>DataTypeAdd</display-name>
  	<servlet-name>DataTypeAdd</servlet-name>
  	<servlet-class>uk.ac.ebi.miriam.web.ServletDataTypeAdd</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DataTypeAdd</servlet-name>
  	<url-pattern>/addDataType</url-pattern>
  </servlet-mapping>
	
  <servlet>
  	<description>Edits a data-type of Miriam Database (displays the form)</description>
  	<display-name>DataTypeEdit</display-name>
  	<servlet-name>DataTypeEdit</servlet-name>
  	<servlet-class>uk.ac.ebi.miriam.web.ServletDataTypeEdit</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DataTypeEdit</servlet-name>
  	<url-pattern>/dataTypeEdit</url-pattern>
  </servlet-mapping>
  
	<servlet>
  	<description>Edits a data-type of MIRIAM database (part 2: updates the DB)</description>
  	<display-name>DataTypeEditPart2</display-name>
  	<servlet-name>DataTypeEditPart2</servlet-name>
  	<servlet-class>uk.ac.ebi.miriam.web.ServletDataTypeEditPart2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DataTypeEditPart2</servlet-name>
  	<url-pattern>/dataTypeEditPart2</url-pattern>
  </servlet-mapping>
	
  <servlet>
  	<description>Deletes a new data-type to MIRIAM database</description>
  	<display-name>DataTypeDelete</display-name>
  	<servlet-name>DataTypeDelete</servlet-name>
  	<servlet-class>uk.ac.ebi.miriam.web.ServletDataTypeDelete</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DataTypeDelete</servlet-name>
  	<url-pattern>/deleteDataType</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>Miriam Database XML Export</description>
  	<display-name>XMLExport</display-name>
  	<servlet-name>XMLExport</servlet-name>
  	<servlet-class>uk.ac.ebi.miriam.xml.ServletXMLExport</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>XMLExport</servlet-name>
  	<url-pattern>/XMLExport</url-pattern>
  </servlet-mapping>
  
	<servlet>
		<description>MIRIAM getDataTypeURN request</description>
		<display-name>MIRIAM getDataTypeURN</display-name>
		<servlet-name>MiriamGetDataTypeURN</servlet-name>
		<servlet-class>uk.ac.ebi.miriam.wsi.ServletGetDataTypeURN</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiriamGetDataTypeURN</servlet-name>
		<url-pattern>/getDataTypeURN.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>MIRIAM getDataTypeURNs request</description>
		<display-name>MIRIAM getDataTypeURNs</display-name>
		<servlet-name>MiriamGetDataTypeURNs</servlet-name>
		<servlet-class>uk.ac.ebi.miriam.wsi.ServletGetDataTypeURNs</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiriamGetDataTypeURNs</servlet-name>
		<url-pattern>/getDataTypeURNs.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>MIRIAM getDataTypeURL request</description>
		<display-name>MIRIAM getDataTypeURL</display-name>
		<servlet-name>MiriamGetDataTypeURL</servlet-name>
		<servlet-class>uk.ac.ebi.miriam.wsi.ServletGetDataTypeURL</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiriamGetDataTypeURL</servlet-name>
		<url-pattern>/getDataTypeURL.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>MIRIAM getDataTypeURLs request</description>
		<display-name>MIRIAM getDataTypeURLs</display-name>
		<servlet-name>MiriamGetDataTypeURLs</servlet-name>
		<servlet-class>uk.ac.ebi.miriam.wsi.ServletGetDataTypeURLs</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiriamGetDataTypeURLs</servlet-name>
		<url-pattern>/getDataTypeURLs.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>MIRIAM getDataTypeURI request</description>
		<display-name>MIRIAM getDataTypeURI</display-name>
		<servlet-name>MiriamGetDataTypeURI</servlet-name>
		<servlet-class>uk.ac.ebi.miriam.wsi.ServletGetDataTypeURI</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiriamGetDataTypeURI</servlet-name>
		<url-pattern>/getDataTypeURI.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>MIRIAM getDataTypeURIs request</description>
		<display-name>MIRIAM getDataTypeURIs</display-name>
		<servlet-name>MiriamGetDataTypeURIs</servlet-name>
		<servlet-class>uk.ac.ebi.miriam.wsi.ServletGetDataTypeURIs</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiriamGetDataTypeURIs</servlet-name>
		<url-pattern>/getDataTypeURIs.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>MIRIAM getDataTypeAllURIs request</description>
		<display-name>MIRIAM getDataTypeAllURIs</display-name>
		<servlet-name>MiriamGetDataTypeAllURIs</servlet-name>
		<servlet-class>uk.ac.ebi.miriam.wsi.ServletGetDataTypeAllURIs</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiriamGetDataTypeAllURIs</servlet-name>
		<url-pattern>/getDataTypeAllURIs.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>MIRIAM getDataTypeDef request</description>
		<display-name>MIRIAM getDataTypeDef</display-name>
		<servlet-name>MiriamGetDataTypeDef</servlet-name>
		<servlet-class>uk.ac.ebi.miriam.wsi.ServletGetDataTypeDef</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiriamGetDataTypeDef</servlet-name>
		<url-pattern>/getDataTypeDef.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>MIRIAM getURN request</description>
		<display-name>MIRIAM getURN</display-name>
		<servlet-name>MiriamGetURN</servlet-name>
		<servlet-class>uk.ac.ebi.miriam.wsi.ServletGetURN</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiriamGetURN</servlet-name>
		<url-pattern>/getURN.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>MIRIAM getURL request</description>
		<display-name>MIRIAM getURL</display-name>
		<servlet-name>MiriamGetURL</servlet-name>
		<servlet-class>uk.ac.ebi.miriam.wsi.ServletGetURL</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiriamGetURL</servlet-name>
		<url-pattern>/getURL.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>MIRIAM getURI request</description>
		<display-name>MIRIAM getURI</display-name>
		<servlet-name>MiriamGetURI</servlet-name>
		<servlet-class>uk.ac.ebi.miriam.wsi.ServletGetURI</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiriamGetURI</servlet-name>
		<url-pattern>/getURI.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>MIRIAM getDataEntries request</description>
		<display-name>Miriam getDataEntries</display-name>
		<servlet-name>MiriamGetDataEntries</servlet-name>
		<servlet-class>uk.ac.ebi.miriam.wsi.ServletGetDataEntries</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiriamGetDataEntries</servlet-name>
		<url-pattern>/getDataEntries.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>MIRIAM getDataResources request</description>
		<display-name>Miriam getDataResources</display-name>
		<servlet-name>MiriamGetDataResources</servlet-name>
		<servlet-class>uk.ac.ebi.miriam.wsi.ServletGetDataResources</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiriamGetDataResources</servlet-name>
		<url-pattern>/getDataResources.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>MIRIAM isDeprecated request</description>
		<display-name>Miriam isDeprecated</display-name>
		<servlet-name>MiriamIsDeprecated</servlet-name>
		<servlet-class>uk.ac.ebi.miriam.wsi.ServletIsDeprecated</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiriamIsDeprecated</servlet-name>
		<url-pattern>/isDeprecated.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>MIRIAM getOfficialURI request</description>
		<display-name>Miriam getOfficialURI</display-name>
		<servlet-name>MiriamGetOfficialURI</servlet-name>
		<servlet-class>uk.ac.ebi.miriam.wsi.ServletGetOfficialURI</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiriamGetOfficialURI</servlet-name>
		<url-pattern>/getOfficialURI.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>MIRIAM getDataTypePattern request</description>
		<display-name>Miriam getDataTypePattern</display-name>
		<servlet-name>MiriamGetDataTypePattern</servlet-name>
		<servlet-class>uk.ac.ebi.miriam.wsi.ServletGetDataTypePattern</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiriamGetDataTypePattern</servlet-name>
		<url-pattern>/getDataTypePattern.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>MIRIAM getDataTypeSynonyms request</description>
		<display-name>Miriam getDataTypeSynonyms</display-name>
		<servlet-name>MiriamGetDataTypeSynonyms</servlet-name>
		<servlet-class>uk.ac.ebi.miriam.wsi.ServletGetDataTypeSynonyms</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiriamGetDataTypeSynonyms</servlet-name>
		<url-pattern>/getDataTypeSynonyms.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>MIRIAM getName request</description>
		<display-name>Miriam getName</display-name>
		<servlet-name>MiriamGetName</servlet-name>
		<servlet-class>uk.ac.ebi.miriam.wsi.ServletGetName</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiriamGetName</servlet-name>
		<url-pattern>/getName.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>MIRIAM getNames request</description>
		<display-name>Miriam getNames</display-name>
		<servlet-name>MiriamGetNames</servlet-name>
		<servlet-class>uk.ac.ebi.miriam.wsi.ServletGetNames</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiriamGetNames</servlet-name>
		<url-pattern>/getNames.do</url-pattern>
	</servlet-mapping>
  
  <session-config>
  	<session-timeout>10</session-timeout>
  </session-config>
  
 <resource-ref>
  <res-ref-name>mail/Session</res-ref-name>
  <res-type>javax.mail.Session</res-type>
  <res-auth>Container</res-auth>
 </resource-ref>

	<welcome-file-list>
		<welcome-file>mdb</welcome-file>
	</welcome-file-list>
</web-app>
